



html {
	background-color: lightblue;
}

img {
	background-color: lightblue;
}

.center{
	position: relative;
	margin: 0;
    font-family: monospace;
    text-align: center;
    background-color: lightblue;
}

.pic{

  position: relative;
  background-color: var(--background-color);
  top: -2px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin:-60px 0 0 -60px;

}

.column{
	position: relative;
	align-items: center;
	text-align: center;

	float: left;
  	margin: 2% 2%;
  	width: 5%;
}

.section{
	 float: left;
  margin: 0 1.5%;
  width: 30%;
}

.row{
	content: "";
	clear: both;
	display: table;
	
}

.gap{

	margin: 10px; 
}

.maincontainer{
	position: relative;
	margin: auto;
	border-radius: 15px;
	width: 60%;
	padding: 30px;
	background-color: #E1E8EE;
	align-items: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}