

.center{
	position: relative;
	margin: 0;
    font-family: monospace;
    text-align: center;
    background-color: white;

}

.container-fluid{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 900px) {
	img{100%}	
}
