



html {
	background-color: lightblue;
}

img {
	background-color: lightblue;
}

.center{
	position: relative;
	margin: 0;
    font-family: monospace;
    text-align: center;
    background-color: lightblue;
}

.pic{

  position: relative;
  background-color: lightblue;
  bottom: -2px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin:0px 0 0 0px;

}

.maincontainer{
	position: relative;
	margin: auto;
	border-radius: 15px;
	width: 60%;
	padding: 30px;
	background-color: #E1E8EE;
	align-items: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}